.icon-sjzdgl{
		background:url('/stu-system-web/images/easyui/sjzdgl.png') no-repeat center center;
	}
.icon-user{
	    background:url('/stu-system-web/images/easyui/user.png') no-repeat center center;
} 
.icon-students{
	    background:url('/stu-system-web/images/easyui/user.png') no-repeat center center;
} 